.conversor {
    background-color: black;
    color: white;
    padding: 1rem;
    max-width: 18rem;
    margin: 1rem;
    border: 3px solid white;
    border-radius: .4rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

button {
    width: max-content;
    padding: 0.2rem;
}

.inputAndFirstCurrency {
    display: flex;
}

input,
select {
    width: 50%;
}