@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Ubuntu Mono', monospace;
    height: 100%;
}

h1 {
    text-align: center;
    padding: 2rem;
}

.linha {
    display: flex;
    justify-content: space-around;
    margin: auto;
    max-width: 900px;
    flex-wrap: wrap;
}

footer {
    text-align: center;
    padding: 2rem;
    font-weight: bolder;
    margin: 1rem;
}